.py-5 .btn{
    background-color: rgb(247, 223, 11);
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
      }